*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', sans-serif;
}

/* VARIABLES DE COLOR */
:root{
--primary:#40E0D0;
--primary-dark:#2aa39a;
--soft:#dffafa;
--text:#134e4a;
--hover:#7ff5ec;
}

/* BODY */
body{
background:linear-gradient(135deg,var(--soft),white);
color:var(--text);
min-height:100vh;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:1rem 2rem;
background:var(--primary-dark);
color:white;
flex-wrap:wrap;
box-shadow:0 4px 15px rgba(0,0,0,0.15);
}

.logo{
font-size:1.7rem;
font-weight:bold;
letter-spacing:1px;
}

/* NAV */

.nav{
display:flex;
gap:1.5rem;
}

.nav a{
text-decoration:none;
color:white;
font-weight:500;
transition:.3s;
position:relative;
}

/* underline animation */
.nav a::after{
content:"";
position:absolute;
width:0%;
height:2px;
left:0;
bottom:-4px;
background:white;
transition:.3s;
}

.nav a:hover::after{
width:100%;
}

.nav a:hover{
color:var(--hover);
}


/* TITLE */

.title{
text-align:center;
margin:2rem 0 1rem;
font-size:2.2rem;
color:var(--dark);
}

/* GALLERY GRID */

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:1.2rem;
padding:1.5rem;
max-width:1200px;
margin:auto;
}

/* IMAGES */

.gallery img{
width:100%;
height:250px;
object-fit:cover;
border-radius:20px;
cursor:pointer;
transition:.4s;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.gallery img:hover{
transform:scale(1.05);
box-shadow:0 12px 30px rgba(0,0,0,0.25);
}

/* ANIMATION */

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

/* TABLET */

@media(max-width:900px){

.main-grid{
grid-template-columns:1fr;
text-align:center;
}

.photo img{
max-width:400px;
margin:auto;
}

}

/* MOBILE */

@media(max-width:600px){

.header{
flex-direction:column;
text-align:center;
gap:.8rem;
}

.logo{
font-size:1.4rem;
}

.nav{
justify-content:center;
flex-wrap:wrap;
gap:1rem;
}

.main-grid{
padding:2rem 1.2rem;
gap:2rem;
}

.card h1{
font-size:1.6rem;
}

.card p{
font-size:1rem;
}

}

/* EXTRA SMALL */

@media(max-width:350px){

.logo{
font-size:1.2rem;
}

.card{
padding:1.5rem;
}

}

/* FOOTER */
.footer{
margin-top:3rem;
background:var(--primary-dark);
color:var(--soft);
text-align:center;
padding:1.5rem 1rem;
display:flex;
flex-direction:column;
gap:.4rem;
font-size:.95rem;
letter-spacing:.5px;
color: white;
}

/* efecto suave arriba */
.footer{
box-shadow:0 -5px 20px rgba(0,0,0,0.1);
}

.footer::before{
content:"";
width:120px;
height:2px;
background:var(--primary);
margin:0 auto 10px;
display:block;
}